SYMBOLS=btcusdt,ethusdt,solusdt,bnbusdt,xrpusdt
BINANCE_WS_BASE_URL=wss://stream.binance.com:9443/stream

KAFKA_BOOTSTRAP_SERVERS=localhost:19092
KAFKA_RAW_TRADES_TOPIC=raw_trades

RECONNECT_MIN_BACKOFF_SECONDS=1
RECONNECT_MAX_BACKOFF_SECONDS=60